/*import fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,900");

.navigation {
  /* flexbox styles */
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;

  list-style: none;
  margin: 0;
  background: rgb(236, 154, 238);
  font-family: "Montserrat", serif;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}
/*action for when you hover on item*/
.navigation a:hover {
  background: #dd1ef3;
}

/*only if the condiitons are met*/
@media all and (max-width: 800px) {
  .navigation {
    flex-flow: column wrap;
    padding: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
}

@media all and (max-width: 600px) {
    .navigation {
        flex-flow: column wrap;
        padding: 0;
    }

    .navigation a {
        text-align: center;
        padding: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .navigation li:last-of-type a {
        border-bottom: none;
    }
}

.title {
    font-family: "Oswald", serif;
}

