/*import fonts*/
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,900");
@import url("https://fonts.googleapis.com/css?family=Oswald:400,900");

/*font for header*/
.title {
  font-family: "Oswald", serif;
}

.map_title {
  font-family: "Oswald", serif;
  text-align: center;
}

/*creates CSS grid*/
* {
  box-sizing: border-box;
}

article:nth-child(odd) {
  background-color: #dd1ef3;
}

article:nth-child(even) {
  background-color: rgb(236, 154, 238);
}
main {
  max-width: 1200px;
  margin: 30px auto;
  padding: 0 20px;
  width: 100%;

  /* CSS grid styles */
  display: grid;
  /* Define Auto Row Size */
  grid-auto-rows: 100px;
  /* Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}

article {
  border-radius: 10px;
  padding: 20px;
  color: #fff;
  font-family: "Montserrat", serif;
}

article a {
  color: inherit; /*Makes the link the same color as parent*/
  text-decoration: none;
}
